.nav {
  &__w {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: #084c61;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 10px;
    background-color: #56a3a6;
    color: white;

    > * {
      max-width: 35px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;

    &-icon {
      max-width: 30px;
      color: white;
      transition: color 300ms;
    }

    &--active {
      .nav__item-icon {
        color: #e3b505;
      }
    }

    &-title {
      display: none;
    }
  }
}
